

:root {
    --texto: #000000;
    --azul-negro: #040813;
    --azul: #152D65;
    --selects: #E3E9FB;
    --fondo: #ffffff;
    --texto-crear: #F1F5FE;
    --texto-tabla: #F1F5FE;
    --azul-cancelar: #133379;
    --crear: #152D65;
    --crear-hover: #0B5ED7;
    --amarillo: #E59506;
    --texto-calendario: #333; 
    --amarillo-hover: #FFCA2C;
    --borde-calendario: #EBEBEB;
    --flecha-select: url("../../assets/flecha.png");
    --logo-titulo: url("../../assets/Gestor/usuariosCrear.svg") no-repeat;
}

body.dark-mode {
    --texto: #FFFFFF;
    --azul-negro: #040813;
    --azul: #99B2EA;
    --selects: #0e1936;
    --fondo: #01050E;
    --texto-tabla: #F1F5FE;
    --texto-crear: #F1F5FE;
    --azul-cancelar: #000000;
    --crear: #465a86;
    --crear-hover: #8f97b3;
    --amarillo: #E59506;
    --texto-calendario: #dadada; 
    --amarillo-hover: #D19D00;
    --borde-calendario: #0b1429;
    --flecha-select: url("../../assets/flecha-dark.png");
    --logo-titulo: url("../../assets/Gestor/usuariosCrearVer.svg") no-repeat;
}

body{

    background-color: var(--fondo);
    transition: background 0.3s ease-in-out !important;
    color: var(--texto);

}

h1 {
    margin-top: 1%;
    margin-left: 8%;
    width: 320px;
    height: 58px;
    background: var(--logo-titulo);
    transition: background 0.3s ease-in-out !important;
    padding-left: 65px;
    display: flex;
    align-items: right;
    align-content: center;
    justify-content: space-between;
}
h2 {
color: var(--texto);

font-weight: bold;
}
p {
margin-top: 3%;
margin-bottom: 2px;
}
label{
margin-top: 3%;
margin-bottom: 2px;

}
.num {
color: var(--azul);
background-color: var(--selects);
transition: background 0.3s ease-in-out !important;
border-radius: 20px;
background-size: contain;
background-position: left;
background-repeat: no-repeat;

width: 40px;
display: flex;
justify-content: center;

display: flex;
position: relative;
right: 10%;
bottom: -45px;
}

select {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: var(--flecha-select) no-repeat calc(100% - 3%) var(--selects) !important;
transition: background 0.3s ease-in-out !important;
color: var(--texto);
border: none;

font-size: 1.2rem;

display: flex;
width: 457px;
height: 49px;
padding-left: 2%;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
}

input{

appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: var(--selects) !important;
transition: background 0.3s ease-in-out !important;
border: none;

font-size: 1.2rem;

display: flex;
width: 457px;
height: 49px;
padding-left: 2%;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;

}

#email{

margin-bottom: 30px;

}

.div1 {
position: absolute;
left: 10%;
top: 10%;
}
.div2 {
position: absolute;
left: 10%;
top: 45%;
margin-top:140px;
}

.div4 {
position: absolute;
left: 36%;
top: 20%;
margin-right: 70px;
}
.div3 {
position: absolute;
left: 70%;
top: 10%;
}

.crear {
color: var(--Cinder-50, #F1F5FE);
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 4px;
border: 2px solid var(--Cinder-900, #152D65);
background: var(--Cinder-900, #152D65);
box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
width: 435px;
padding: 10px 0px;
justify-content: center;
align-items: center;
position: absolute;
right: 22%;
bottom: 5%;
}
.cancelar {
color: var(--Cinder-800, #133379);

font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;

border-radius: 4px;
border: 2px solid var(--Cinder-900, #152D65);
background: var(--Amarillo, #E59506);
box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);

display: inline-flex;
width: 15%;
padding: 10px 0px;
justify-content: center;
align-items: center;

position: absolute;
right: 5%;
bottom: 5%;
}