

:root {
    --texto: #000000;
    --azul-negro: #040813;
    --azul: #152D65;
    --selects: #E3E9FB;
    --fondo: #ffffff;
    --texto-crear: #F1F5FE;
    --azul-cancelar: #133379;
    --crear: #152D65;
    --crear-hover: #0B5ED7;
    --amarillo: #E59506;
    --texto-calendario: #333; 
    --amarillo-hover: #FFCA2C;
    --borde-calendario: #EBEBEB;
    --flecha-select: url("../../assets/flecha.png");
    --logo-titulo: url("../../assets/Administrativo/crearTurnoVer.png") no-repeat;
    --logo-calendario: url("../../assets/Administrativo/calendario.svg") no-repeat;
}

body.dark-mode {
    --texto: #FFFFFF;
    --azul-negro: #040813;
    --azul: #99B2EA;
    --selects: #0e1936;
    --fondo: #01050E;
    --texto-crear: #F1F5FE;
    --azul-cancelar: #000000;
    --crear: #465a86;
    --crear-hover: #8f97b3;
    --amarillo: #E59506;
    --texto-calendario: #dadada; 
    --amarillo-hover: #D19D00;
    --borde-calendario: #0b1429;
    --flecha-select: url("../../assets/flecha-dark.png");
    --logo-titulo: url("../../assets/Administrativo/crearTurno.png") no-repeat;
    --logo-calendario: url("../../assets/Administrativo/calendarioBlanco.svg") no-repeat;
}


body{

    background: var(--fondo);
    transition: background 0.3s ease-in-out !important;

}

label{

    color: var(--texto);
    transition: color 0.3s ease-in-out !important;
}
h1 {
    margin-top: 1%;
    margin-left: 8%;
    color: var(--texto);
    transition: color 0.3s ease-in-out !important;
}
h2 {
    color: var(--texto);
    transition: color 0.3s ease-in-out !important;
    font-weight: bold;
}
p {
    margin-top: 3%;
    margin-bottom: 2px;
    color: var(--texto);
    transition: color 0.3s ease-in-out !important;
}
.num {
    color: var(--azul);
    transition: color 0.3s ease-in-out !important;
    background-color: var(--selects);
    transition: background 0.3s ease-in-out !important;
    border-radius: 20px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

    width: 40px;
    display: flex;
    justify-content: center;

    display: flex;
    position: relative;
    right: 10%;
    bottom: -45px;
}
.titulo {
    width: 300px;
    height: 53px;
    background: var(--logo-titulo);
    transition: background 0.3s ease-in-out !important;
    padding-left: 65px;
    display: flex;
    align-items: right;
    align-content: center;
    justify-content: space-between;
}



select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--selects) !important;
    transition: background 0.3s ease-in-out !important;
    color: var(--texto);
    border: none;
    font-size: 1.2rem;
    display: flex;
    width: 457px;
    height: 49px;
    padding-left: 2%;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--selects);
    color: var(--texto);
    border: none;
    transition: background 0.3s ease-in-out !important;
    font-size: 1.2rem;

    display: inline-block;
    padding: 0% 2%;
    width: 457px;
    height: 49px;
    align-items: center;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: var(--logo-calendario) no-repeat;
    transition: background 0.3s ease-in-out !important;
    background-size: 100%;
    background-position: center;
    pointer-events: none;
}
#icono {
    position: relative;
    left: -10%;
    margin-bottom: 10px;
    cursor: pointer;
    mask-repeat: no-repeat;
    content: url("../../assets/Administrativo/calendario.svg");
}

body.dark-mode #icono {
    content: url("../../assets/Administrativo/calendarioBlanco.svg");
}
.hora {
    width: 220px;
}

.fecha {
    display: flex;
    justify-content: space-between;
    width: 457px;
}
#fecha {
    pointer-events: none;
}

.div1 {
    position: absolute;
    left: 12%;
    top: 10%;
}
.div2 {
    position: absolute;
    left: 12%;
    top: 40%;
}

/* Estilo del calendario */
#calendario {
    float: right;
    margin-right: 3%;
    padding: 60px;
    width: 40%;
    box-shadow: 0px 4px 32px 0px rgba(170, 170, 170, 0.03);
    border: 1px solid var(--borde-calendario);
}
:root {
    --fc-border-color: none;
    --fc-today-bg-color:rgba(35, 97, 212, 0.2);
}
.fc .fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: var(--texto-calendario);
    transition: color 0.3s ease-in-out !important;
    text-decoration: none;
}
.fc-daygrid-day-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fc-prev-button, .fc-next-button {
    background-color: var(--selects) !important;
    transition: background 0.3s ease-in-out !important;
    border: none !important;
    margin: 0px 2% !important;
    border-radius: 16px !important;
    width: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.fc-icon {
    color: var(--azul);
}
.fc-day:hover, .fc-daygrid-day.fc-day-today:hover {
    color: var(--azul-negro);
    transition: color 0.3s ease-in-out !important;
    background-color: var(--selects) !important;
    transition: background 0.3s ease-in-out !important;
}
.fc-day.selected {
    background-color: var(--crear-hover) !important;
}
.fc-day {
    background-color: none;
}

.crear {
    color: var(--texto-crear);
    transition: color 0.3s ease-in-out !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 4px;
    border: 2px solid var(--crear);
    background: var(--crear);
    transition: background 0.3s ease-in-out !important;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    width: 435px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 22%;
    bottom: 5%;
}
.crear:hover {
    color: var(--texto-crear);

    border: 2px solid var(--crear-hover);
    background: var(--crear-hover);
}

.cancelar {
    color: var(--azul-cancelar);

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 4px;
    border: 2px solid var(--azul-cancelar);
    background: var(--amarillo);
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    display: inline-flex;
    width: 15%;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5%;
    bottom: 5%;
}
.cancelar:hover {
    color: var(--texto);

    background: var(--amarillo-hover);
}